@font-face {
  font-family: 'Akzidenz';
  src: url('../styles/fonts/akzidenzgroteskpro_regular.ttf');
}
@font-face {
  font-family: 'AkzidenzMdEx';
  src: url('../styles/fonts/akzidenzgroteskpro_mdex.ttf');
}
@font-face {
  font-family: 'AkzidenzMd';
  src: url('../styles/fonts/akzidenzgroteskpro_md.ttf');
}
@font-face {
  font-family: 'AkzidenzExt';
  src: url('../styles/fonts/akzidenzgroteskpro_ext.otf');
}
@font-face {
  font-family: 'AkzidenzLightExt';
  src: url('../styles/fonts/akzidenzgroteskpro_lightex.ttf');
}
@font-face {
  font-family: 'AkzidenzEbd';
  src: url('../styles/fonts/akzidenzgroteskpro_xbd.ttf');
}
@font-face {
  font-family: 'AkzidenzBold';
  src: url('../styles/fonts/akzidenzgroteskpro_bold.ttf');
}
@font-face {
  font-family: 'AkzidenzBoldEx';
  src: url('../styles/fonts/akzidenzgroteskpro_boldex.otf');
}
@font-face {
  font-family: 'Destina';
  src: url('../styles/fonts/denistina_en.ttf');
}

$black-color: #0d0d0d;
$gradient: linear-gradient(
  198.87deg,
  #ececec -0.28%,
  #c2c2c2 18.54%,
  #ececec 38.01%,
  #ececec 67.86%,
  #a5a4a4 87.98%,
  #ececec 102.9%
);
$yellow-light: #f2d06b;
$yellow-dark: #edbc67;
$red-color: #d8a796;
$green-color: #bfeb0c;

$Akzidenz: 'Akzidenz';
$AkzidenzExt: 'AkzidenzExt';
$AkzidenzLightExt: 'AkzidenzLightExt';
$AkzidenzMdEx: 'AkzidenzMdEx';
$AkzidenzMd: 'AkzidenzMd';
$AkzidenzEbd: 'AkzidenzEbd';
$AkzidenzBold: 'AkzidenzBold';
$AkzidenzBoldEx: 'AkzidenzBoldEx';
$Destina: 'Destina';
